name: roomies
description: A roommate management application
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  firebase_core: ^4.2.1
  firebase_auth: ^6.1.2
  cloud_firestore: ^6.1.0
  uuid: ^4.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  fonts:
    - family: Baloo Bhai   # Ta nazwa musi być IDENTYCZNA jak w constants.dart
      fonts:
        - asset: assets/fonts/Baloo Bhai Regular 400.ttf # Tu musi być dokładna nazwa pliku który wrzuciłaś